<template>
    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>


    <h1>Details</h1>

    <div>
        <h4>Person</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                First Name
            </dt>
            <dd class="col-sm-10">
                ${_person.FirstName}
            </dd>
            <dt class="col-sm-2">
                Last Name
            </dt>
            <dd class="col-sm-10">
                ${_person.LastName}
            </dd>
        </dl>
    </div>
    <div>
        <a route-href="route: persons-edit; params.bind: { id: _persons.id }">Edit</a> |
        <a route-href="route: persons-index; params.bind: { }">Back to List</a>
    </div>
</template>
